{%- if section.settings.text != blank -%}
  <div data-scroll-section class="announcement-bar caption" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
    
      {{ section.settings.text }}
    
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Promo Bar",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ] 
}
{% endschema %}
