.circle-badge {
    width: 140px;
    position: fixed;
    right: -20px;
    bottom: 20px;
    color: var(--color-brand-1);
}

.circle-text {
    width: 100%;
    transform: rotate(0deg);
    transition: transform var(--duration-long) var(--easing);
    /* animation-duration: 90s;
    animation-name: textRotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

.circle-logo {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
@keyframes textRotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
        transform: rotate(360deg);
    }
  }
